body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    border: 1px solid #414141;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px; 
    padding: 20px; 
    background: url('bg.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#display {
    width: 60%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2aff8a;
}

#equalsbt {
    grid-column: span 3;
}
